build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
CMakeScripts/
CMakeScratch/

Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
TargetDirectories.txt

.cache/

*.log
